<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Catalog</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='responsive.css')}}">
</head>
<body>
<header class = "header container">
    <h1 class = "inline">Catalog App</h1>
    {% if loggedIn %}
    <div class = "button">
        <a class = "white" href="{{url_for('disconnect')}}">Logout</a>                           
                            
    </div>
    {% else %}
    <div class = "button inline">
        <a class = "white" href="{{url_for('showLogin')}}">Login</a>
                           
        
    {% endif %}
    </div>
</header>

<div class="pane">
    <div class = "message">
        <!--MESSAGE FLASHING EXAMPLE -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul class="flash">
        {% for message in messages %}
          <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>


    <div class="catalog">
        <div class="catagories">
            <h2>Categories</h2>
            {% for i in categories %}
                <a href = "{{url_for('showItems',category_name= i.name)}}">{{i.name}}</a> <br>
            {% endfor %}
        </div>
        <div class="details">
            <h2>{{item.name}}</h2>
            <p>{{item.description}}</p>            
            <p>{{item.price}}</p>
            {% if loggedIn %}
                 <p>
                    <a href = "{{url_for('editItem',item_name= item.name)}}">Edit</a> | <a href = "{{url_for('deleteItem',item_name= item.name)}}">Delete</a>
                 </p>
            {% endif %}
        </div>
    </div>
</div>    

</body>

</html>